<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link href="~/css/Style.css" rel="stylesheet" />*@
    <link href="~/css/StyleAdm.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" >
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar">
                        <div >
                            <ul class="nav nav-tabs ">
                              
                                <li class="nav-item  mt-3">
                                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">HOME</a>
                                </li>
                                <li class="nav-item  mt-3">
                                    <a class="nav-link text-dark" asp-controller="Articles" asp-action="">ARTICLES</a>
                                </li>
                                <li class="nav-item  mt-3">
                                    <a class="nav-link text-dark" asp-controller="Countries" asp-action="Index">COUNTRIES</a>
                                </li>
                                <li class="nav-item  mt-3">
                                    <a class="nav-link text-dark" asp-controller="Categories" asp-action="Index">CATEGORIES</a>
                                </li>
                                <li class="nav-item  mt-3">
                                    <a class="nav-link text-dark" asp-controller="Sources" asp-action="Index">SOURCES</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer  text-center">
        <div class="container">
            &copy; 2021 - Articles - 2018-0345
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
