

/* ==== Google font ==== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);


body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;
    color: #333;
    background-color: #8a8d94;
}

header {
    background-color: #36CBD4;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
   /* line-height: 1.6em;*/
}

.navbar{
    text-align:center;
}

footer {
    background-color: #36CBD4;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
}


hi, h2, h3, h4, h5, h6 {
    color: #000;
    line-height: 1.1em;
}
p {
    color: #000000;
}

a {
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
    color: #000;
}

    a:hover {
        text-decoration: none;
        color: #36CBD4;
    }

hr {
    margin-top: 20px;
    margin-bottom: 40px;
}


.text-center {
    text-align: center;
    margin-top: 30px;
}

    .text-center p {
        color: #8a8d94;
        font-size: 15px;
    }

.box {
    text-align: center;
}



.btn {
    color: #333;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5;
}

    .btn:hover {
        color: #fff;
        text-decoration: none;
        background-color: #36CBD4;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

.btn-default {
    color: #fff;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary {
    padding: 4px 20px;
    background: #36CBD4;
    color: #fff;
    border: none;
    margin-top: 0px;
}

    .btn-primary:hover,
    .btn-primary:focus {
        background: #36CBD4;
        outline: none;
        box-shadow: none;
    }

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

    .btn-transparent:hover {
        border-color: rgba(255, 255, 255, 0.5);
    }


