@{
    ViewData["Title"] = "Administration News";
}

<div class="mt-4">
    <div class="text-center">
        <img src="/Images/Map (1).gif" />
        <h1 class="display-4">Welcome</h1>
        <p class="text-black-50 font-weight-bold">
            Thanks you so much to Visit our

            <h1 class="display-4">Content Creators Page</h1>
        </p>
        <p class="text-black-50 font-weight-bold">
            You can tap anything on the navbar MENU, To create anything you want.
        </p>
    </div>
</div>